<div class="container">
  <footer class="footer text-center">
    <small>
      Blog by <a href="https://github.com/pratikmshah">Pratik Shah</a>
    </small>
    <nav>
      <ul class="list-unstyled">
        <li> <%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>