/* Universal changes */
body, td, a, p {
    font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  color: #000;
}

/* Navigation */
nav#navigation {
  width: 100%;
}

nav#navigation div {
  padding: 0px 30px;
  text-align: right;
}

nav#navigation div div{
  display: inline-block;
  font-size: 13px;
  margin: 15px 7px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}

.nav-hover:hover {
  opacity: .85;
  text-decoration: underline;
}

.apps-menu {
  width: 15px;
  height: auto;
}

.login {
  border: 1px solid #4285f4;
  border-radius: 3px;
  font-weight: bold;
  color: white !important;
  outline: none;
  background: -webkit-linear-gradient(top, #4387fd, #4683ea);
  background:         linear-gradient(top, #4387fd, #4683ea);
  padding: 6px 12px;
  text-decoration: none !important;
  opacity: 1 !important;
  cursor: default;
}

.login:active {
  background: -webkit-linear-gradient(top,#3c7ae4, #3f76d3);
  background:         linear-gradient(top,#3c7ae4, #3f76d3);
}

/* Logo/Name */

#logo h1 {
  text-align: center;
  font-size: 5.5em;
  margin-top: 12%;
  margin-bottom: 10px;
}

.google-g {
  color: #3cba54;
}

.google-y {
  color: #f4c20d;
}

.google-r {
  color: #db3236;
}

.google-b {
  color: #4885ed;
}

/* Search box and submit */
