/* Add background to jumbotron */
.jumbotron {
  background: url(http://freenaturestock.s3.amazonaws.com/166.jpg) center center;
  background-size: cover;
  height: 600px;
}

/* logo size */
.logo {
  width: 75px;
  height: 75px;
}

/* set text color of featured class */
.feature {
  color: #fff;
}

/* create space between title and logo */
.feature h1 {
  padding-top: 60px;
}
