<div id="books-show">
  <h2>Ruby on Rails</h2>
  <div class="books-show-left">
    <%= image_tag('covers/ruby_cookbook.jpg') %>
  </div>
  <div class="books-show-right">
    <h3>Book info:</h3>
    <ul>
      <li><strong>Cateogry: </strong> Ruby on Rails</li>
      <li><strong>Author: </strong> Aneesha Bakharia</li>
      <li><strong>Publisher: </strong> Course Tech</li>
      <li><strong>Year:</strong> 2008</li>
      <li><strong>Format:</strong> Paperback</li>
      <li><strong>Pages:</strong> 678</li>
    </ul>
    <a href="#" class="btn btn-success" target="_blank">Buy now!</a>
  </div>
  <div class="clearfix"></div>
  <h4>Excerpt</h4>
  <p>
    Quinoa knausgaard synth, health goth distillery bicycle rights put a bird on it disrupt yr sustainable you probably haven't heard of them shoreditch freegan salvia pinterest. Raw denim asymmetrical ugh, seitan before they sold out hoodie flexitarian scenester kale chips direct trade XOXO chia. Twee selfies yuccie green juice pickled deep v. Vinyl yuccie crucifix salvia. Pickled letterpress 8-bit asymmetrical, locavore cliche chia tumblr tote bag umami lo-fi. Shoreditch stumptown farm-to-table, lo-fi chambray next level cronut everyday carry sustainable. Four loko photo booth heirloom cornhole, wayfarers viral migas leggings meh keytar shabby chic knausgaard next level kickstarter.
  </p>
</div>
