<div class="jumbotron center">
  <h1>My Pintrest Clone App</h1>
  <p>Hey!</p>

  <%= link_to "Login", new_user_session_path, class: 'btn btn-default' %>
  <%= link_to "Join", new_user_registration_path, class: 'btn btn-primary' %>
</div>


