<h1><%= @page_title %></h1>
<p>Polaroid gentrify XOXO try-hard kinfolk, scenester biodiesel before they sold out drinking vinegar chambray tumblr pop-up. Authentic salvia intelligentsia lo-fi beard, occupy tilde actually fanny pack post-ironic XOXO yuccie kale chips mlkshk pickled. Blue bottle cliche readymade jean shorts lumbersexual. XOXO synth umami mlkshk. Man braid bitters VHS letterpress health goth, mustache organic twee hashtag helvetica. Typewriter salvia lo-fi, church-key bitters bushwick dreamcatcher direct trade echo park next level. Drinking vinegar kinfolk intelligentsia, offal truffaut taxidermy locavore put a bird on it twee brunch williamsburg flexitarian.
</p>

<div class="well">
  <h3>Location Info</h3>
  <ul>
    <li>The BookStore</li>
    <li>499 San Fran Ave</li>
    <li>San Francisco, CA 12345</li>
    <li>Phone: (555) 555-5555</li>
    <li>Email: support@thebookstore.com</li>
  </ul>
</div>
