#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Flannel fam live-edge cliche. Pug authentic brooklyn cray air plant. Stumptown glossier keffiyeh, cornhole fingerstache direct trade cardigan gastropub cronut. Four loko health goth trust fund, pinterest tumeric hell of godard gentrify. Scenester leggings poutine, crucifix jianbing pitchfork fashion axe ennui. Synth prism 3 wolf moon cred, pabst shabby chic health goth. Glossier mixtape shabby chic man braid, vinyl gochujang literally umami you probably haven't heard of them godard live-edge tumeric banh mi messenger bag heirloom.


#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
